:root {
  --primary: #607164;
  --secondary: #EBAD4E;
  --success: #607164;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Petrona', serif;
}

.navbar {
  background-color: #EBAD4E !important;
}

.hero-section {
  position: relative;
  text-align: center;
  color: black;
  height: 500px;
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
}

.hero-content p.lead {
  font-size: 0.9rem;
}

.btn-primary, .btn-success, .btn-secondary, .btn-outline-primary {
  background-color: #607164;
  border-color: #607164;
}

.btn-primary:hover, .btn-success:hover, .btn-secondary:hover, .btn-outline-primary:hover {
  background-color: #435146;
  border-color: #435146;
}

.btn-outline-primary {
  color: #607164;
}

.btn-outline-primary:hover {
  color: #fff;
}

.footer a {
  color: #B56073;
}

.footer a:hover {
  color: #28a745;
}

.bg-primary {
  background-color: #607164 !important;
}

.text-primary {
  color: #607164 !important;
}

.border-primary {
  border-color: #607164 !important;
}

.event-img {
  width: 90%;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 15px;
}

.nav-item .btn-secondary {
  margin-left: 20px;
}

.booking-section {
  background-color: #435146;
}

.booking-section .container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.booking-section .row {
  max-width: 80%;
  margin: 0 auto;
}

.booking-section h2 {
  margin-bottom: 20px;
}

.booking-section p {
  text-align: left;
  margin-bottom: 20px;
}

.booking-section img.book-with-us-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  max-height: 200px;
  margin-bottom: 20px;
}

.booking-section .book-now-btn {
  color: #435146;
}

.learn-more-link {
  color: #B56073;
}

.learn-more-link:hover {
  color: #d58092;
}

.footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 767px) {
  .hero-content {
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
    padding: 1rem;
  }

  .reservation-policies .row {
    flex-direction: column; /* Stack columns vertically */
    align-items: center;
  }

  .reservation-policies .col-md-6 {
    width: 90%; /* Span most of the page */
  }
}

.page-content {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.padded-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reservation-form {
  background-color: #5a6b5c;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
}

.reservation-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.reservation-form button {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #d4a15a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reservation-policies {
  background-color: #5a6b5c;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.reservation-policies h2 {
  text-align: center;
  padding-top: 30px; /* Add padding above h2 */
}

.reservation-policies .row {
  display: flex;
  justify-content: center; /* Move text boxes closer together */
  gap: 20px; /* Optional: Add some space between the columns */
}

.reservation-policies .col-md-6 {
  width: 40%; /* Make the text width smaller */
  padding-bottom: 30px; /* Add padding below body text */
}

@media (max-width: 767px) {
  .reservation-policies .col-md-6 {
    width: 100%; /* Span most of the page in mobile view */
  }
}

.padded-section h1 {
  padding-top: 30px; /* Add padding above h1 */
}

.padded-section p {
  max-width: 600px; 
  padding-bottom: 30px; 
  margin: 0 auto;
}

.book-with-us {
  width: 100%;
  height: 100%;
  object-fit: cover;
}