/* Custom Bootstrap Overrides */
:root {
  --primary: #607164; /* Update to the new button color */
  --secondary: #EBAD4E;
  --success: #607164;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* Custom Styles */
body {
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Petrona', serif; /* Use Petrona for headings */
}

.navbar {
  background-color: #EBAD4E !important; /* Yellow background for the navbar */
}

.hero-section {
  position: relative;
  text-align: center;
  color: black; /* Change header text to black */
  height: 500px; /* Set the height to 500 pixels */
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7); /* White background with low opacity */
  border-radius: 0.5rem;
}

.hero-content p.lead {
  font-size: 0.9rem; /* Make body copy in header smaller */
}

.btn-primary, .btn-success, .btn-secondary, .btn-outline-primary {
  background-color: #607164; /* New button color */
  border-color: #607164; /* New button color */
}

.btn-outline-primary {
  color: #607164; /* New button text color */
}

.btn-outline-primary:hover {
  background-color: #607164; /* New button color */
  color: #fff;
}

.footer a {
  color: #f8f9fa;
}

.footer a:hover {
  color: #28a745;
}

/* Additional Overrides for Bootstrap Blue Components */
.bg-primary {
  background-color: #607164 !important; /* New button color */
}

.text-primary {
  color: #607164 !important; /* New button color */
}

.border-primary {
  border-color: #607164 !important; /* New button color */
}

.event-img {
  width: 90%; /* Make images narrower */
  height: 300px; /* Increase height for more vertical space */
  object-fit: cover; /* Maintain aspect ratio */
  margin: 0 auto; /* Center align images */
  margin-bottom: 15px; /* Add space between images and text */
}

/* Add margin to "Contact" button in the navbar */
.nav-item .btn-secondary {
  margin-left: 20px; /* Adjust the value as needed for desired spacing */
}
